#deck {
  background: white;
  /* position: fixed; */ /* Why this fix my problem of main page not scrolling down */
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#deck > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

#deck > div > div {
  background-color: white;
  background-size: 90% 95%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 300px;
  height: 85vh;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -5px rgba(50, 50, 73, 0.2),
    0 10px 10px -10px rgba(50, 50, 73, 0.2);
}
