@import url("https://fonts.googleapis.com/css?family=Alata");
#FooterTextBrand {
  font-family: "Alata", cursive;
}

@import url("https://fonts.googleapis.com/css?family=Michroma");
.FrontPageShopButton {
  font-family: "Michroma", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
.ProductPageFont {
  font-family: "Nunito", sans-serif;
}
